---
import Card from "./Card.astro";
---

<section class="mb-3" id="coffe">
  <div class="container py-5">
    <header data-aos="fade-right" style="color: var(--secondary)">
      <div class="text-uppercase fw-semibold fs-1">Coffee-based drinks</div>
      <div style="text-align: start;" class="decor mt-1"></div>
      <div class="text-justify mt-4">
        Cameroon IDN adalah perusahaan kopi dengan pengalaman lebih dari 14
        tahun, mengklaim bahwa salah satu keahlian kami adalah menciptakan
        varian minuman berbasis kopi. Terdapat banyak sekali varian minuman kopi
        untuk semua kalangan. Mulai dari Espresso dan Manual Brew untuk kamu
        pencinta kopi sejati, minuman klasik kopi seperti cappuccino, latte,
        machiato sampai minuman kopi modern seperti Frappe Blend dan Es Kopi
        Susu.
      </div>
    </header>
    <div style="margin-top: 72px;" class="row row-cols-1 g-lg-5 row-cols-md-2">
      <div data-aos="fade-right"><Card /></div>
      <div data-aos="fade-left"><Card /></div>
      <div data-aos="fade-right"><Card /></div>
      <div data-aos="fade-left"><Card /></div>
      <div data-aos="fade-right"><Card /></div>
      <div data-aos="fade-left"><Card /></div>
    </div>
  </div>
</section>
