---
import Card from "./Card2.astro";
---

<section class="mb-3 overflow-hidden" id="coffe">
  <div class="container py-5">
    <header data-aos="fade-left" style="color: var(--secondary)">
      <div class="text-uppercase fw-semibold fs-1">
        COFFEE PACK & COFFEE BANKING
      </div>
      <div style="text-align: start;" class="decor mt-1"></div>
      <div class="text-justify mt-4">
        Sekarang kalian bisa dengan mudah menikmati coffee specialty dengan
        bermacam-macam karakter, aroma dan rasa dari berbagai daerah penghasil
        kopi di Indonesia yang tersedia di gerai-gerai cameroon terdekat:
      </div>
    </header>
    <div style="margin-top: 72px;" class="row row-cols-1 g-lg-5 row-cols-md-3">
      <div data-aos="zoom-in"><Card /></div>
      <div data-aos="zoom-in"><Card /></div>
      <div data-aos="zoom-in"><Card /></div>
    </div>
  </div>
</section>
