---
import Card from "./Card.astro";
---

<section class="mb-3" id="coffe">
  <div class="container py-5">
    <header data-aos="fade-right" style="color: var(--secondary)">
      <div class="text-uppercase fw-semibold fs-1">Food and snack</div>
      <div style="text-align: start;" class="decor mt-1"></div>
      <div class="text-justify mt-4">Cameroon Indonesia juga menyediakan</div>
    </header>
    <div style="margin-top: 72px;" class="row row-cols-1 g-lg-5 row-cols-md-2">
      <div data-aos="fade-right"><Card /></div>
      <div data-aos="fade-left"><Card /></div>
      <div data-aos="fade-right"><Card /></div>
      <div data-aos="fade-left"><Card /></div>
      <div data-aos="fade-right"><Card /></div>
      <div data-aos="fade-left"><Card /></div>
    </div>
  </div>
</section>
