<header id="home" class="mt-4 pt-2">
  <div data-aos="fade-left" class="container text-center py-5">
    <div
      style="text-transform: uppercase; color: var(--primary)"
      class="fw-bold"
    >
      Moments
    </div>
    <div
      style="text-transform: uppercase; color: var(--secondary)"
      class="mt-1 fw-bold fs-1"
    >
      Buku menu
    </div>
    <div class="decor mx-auto mt-3"></div>
    <div style="color: var(--secondary);" class="fs-6">
      Berbagai macam makanan dan minuman sebagai pendamping secangkir kopi kamu.
    </div>
  </div>
</header>
<style>
  header {
    background-color: #f7f7f7;
    overflow-x: hidden;
  }
</style>
