---
import Card from "./Card3.astro";
---

<section class="mb-3 overflow-hidden" id="coffe">
  <div class="container py-5">
    <header data-aos="fade-right" style="color: var(--secondary)">
      <div class="text-uppercase fw-semibold fs-1">Merchandise</div>
      <div style="text-align: start;" class="decor mt-1"></div>
      <div class="text-justify mt-4">
        Kami dengan bangga berkolaborasi bersama pengrajin local untuk membuat
        semua merchandise cameroon dengan design dan kualitas terbaik menjadikan
        kalian semua bisa semakin bergaya dan keren, jadi segera miliki koleksi
        merchandise coffee toffee ya.
      </div>
    </header>
    <div style="margin-top: 72px;" class="row row-cols-1 g-lg-5 row-cols-md-4">
      <div data-aos="zoom-in"><Card /></div>
      <div data-aos="zoom-in"><Card /></div>
      <div data-aos="zoom-in"><Card /></div>
      <div data-aos="zoom-in"><Card /></div>
    </div>
  </div>
</section>
