---
import Card from "./Card.astro";
---

<section class="mb-3 overflow-hidden" id="non-coffe">
  <div class="container py-5">
    <header data-aos="fade-left" style="color: var(--secondary)">
      <div class="text-uppercase fw-semibold fs-1">NonCoffee-based drinks</div>
      <div style="text-align: start;" class="decor mt-1"></div>
      <div class="text-justify mt-4">
        Kemungkinan besar kamu akan datang ke Cameroon bersama orang - orang
        terdekatmu, apakah itu keluarga, anak, rekan kerja, atau teman
        komunitasmu. Dan kami menyadari bahwa sebagian dari mereka menginginkan
        adanya pilihan menu non-kopi. Oleh karena itu kami juga menyediakan
        berbagai macam non-coffee juga di gerai kami. Minuman - minuman ini
        tetap diracik menggunakan bahan bahan baku terbaik Indonesia, mulai dari
        teh, coklat sampai sirup yang digunakan. Kami memberikan perhatian dan
        apresiasi khusus terhadap menu non-coffee kami ini, karena kami memahami
        bahwa minuman - minuman akan dinikmati oleh orang - orang terpenting
        dalam hidup kamu
      </div>
    </header>
    <div style="margin-top: 72px;" class="row row-cols-1 g-lg-5 row-cols-md-2">
      <div data-aos="fade-right"><Card /></div>
      <div data-aos="fade-left"><Card /></div>
      <div data-aos="fade-right"><Card /></div>
      <div data-aos="fade-left"><Card /></div>
      <div data-aos="fade-right"><Card /></div>
      <div data-aos="fade-left"><Card /></div>
    </div>
  </div>
</section>
