<footer id="footer">
  <div class="text-center">
    <div class="py-4">© 2020 All rights reserved.</div>
  </div>
</footer>
<style>
  footer {
    background-color: #242424;
    color: rgb(189, 189, 189);
  }
</style>
